<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="header">Sample Rails Application</h1>

<%= yield %>

 <div class="footer">
	<div class="left-footer">Copyright &copy;<%= Time.now.year.to_s %> Derek Knight</div>
	<div class="right-footer"><%= link_to "Sample", controller: "welcome" %> Powered by Ruby on <%= link_to "Rails", controller: "rails/info", action: "properties" %> (<%= Rails::env =%>). [Ruby <%= RUBY_VERSION %>, Rails <%= Rails::VERSION::STRING%>]</div>
 </div>

</body>

</html>
